.ChallengeCard-full-container {
	background-color: #2e3440;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 200px;
	width: 500px;
	padding: 10px;
	border: 1px solid #2e3440;
	border-radius: 15px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.ChallengeCard-small-container {
	background-color: #2e3440;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 200px;
	width: 330px;
	padding: 10px;
	border: 1px solid #2e3440;
	border-radius: 15px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.ChallengeCard-id-text {
	font-size: 16px !important;
	color: #ffffff;
	margin-bottom: 0px;
}

.ChallengeCard-id-label {
	color: #ffffff;
	margin-right: 7px !important;
}

.ChallengeCard-date-text {
	font-size: 14px;
	color: #b8b8b8;
}

.ChallengeCard-hstack {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 12px;
	width: 100%;
}

.ChallengeCard-vstack {
	display: grid;
	align-items: center;
	justify-content: flex-start;
	padding-left: 4.5px;
	padding-right: 4.5px;
}

.ChallengeCard-labels {
	font-size: 14px;
	color: #b8b8b8;
	margin-bottom: 0px;
}

.ChallengeCard-details {
	font-size: 15px;
	color: #ffffff;
	margin-bottom: 12px !important;
}

.ChallengeCard-complete-flag {
	font-size: 15px;
	color: #1ea043;
	margin-bottom: 12px !important;
}

.ChallengeCard-pending-flag {
	font-size: 15px;
	color: #c2b1e3;
	margin-bottom: 12px !important;
}

.ChallengeCard-button {
	width: 100%;
	background-image: linear-gradient(
		to right,
		#00557ff4,
		#4a158fda
	) !important;
	color: #ffffff !important;
	border-radius: 20px !important;
}
