.Challenge-main-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.Challenge-full-form-container {
	background-color: #2e3440;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 725px;
	width: 550px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 35px;
	border: 1px solid #2e3440;
	border-radius: 15px;
	overflow: hidden;
}

.Challenge-small-form-container {
	background-color: #2e3440;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 725px;
	width: 330px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 35px;
	border: 1px solid #2e3440;
	border-radius: 15px;
	overflow: hidden;
}

.Challenge-header {
	padding-top: 5px;
}

.Challenge-not-connected-message {
	background-color: #2e3440 !important;
	color: #ffffff !important;
	font-size: 16px !important;
	width: 80% !important;
	overflow: auto;
}

.Challenge-instructions-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-width: 300px;
}

.Challenge-instructions-label {
	align-self: flex-start;
	margin-top: 0px;
	margin-bottom: 0px;
}

.Challenge-ol-container {
	align-self: flex-start;
	padding: 10px;
	width: 100%;
	font-size: 15px;
	margin-top: 0px;
}

.Challenge-list-hstack {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 10px;
}

.Challenge-list-emoji-container {
	margin-right: 15px;
}

.Challenge-list-emoji-text {
	font-size: 28px;
}

.Challenge-list-item {
	margin-top: 7px;
}

.Challenge-form-header {
	align-self: center;
	color: #ffffff;
}

.Challenge-label {
	color: #999999 !important;
}

.Challenge-input {
	font-size: 14px !important;
	background-color: #202125 !important;
	color: #ffffff !important;
	border-radius: 8px !important;
}

.Challenge-input:focus {
	border: solid 1px #3ecfff8f !important;
}

.Challenge-input::placeholder {
	color: #7b7878 !important;
	opacity: 0.8;
}

.Challenge-select {
	font-size: 14px !important;
	background-color: #202125 !important;
	color: #ffffff !important;
	height: 38px !important;
	width: 90px !important;
	outline-style: none;
}

.Challenge-select:required:invalid {
	color: rgba(124, 121, 121, 0.8) !important;
}

.Challenge-input-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #202125;
	border-radius: 8px !important;
}

.Challenge-pace-colon {
	font-size: 20px !important;
	margin-left: 10px;
	margin-right: 5px;
}

.Challenge-units-text {
	font-size: 14px !important;
}

.Challenge-units-label {
	justify-self: flex-end;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 38px;
	width: 60px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-left: solid 1px #2e3440;
	background-color: #202125;
}

.Challenge-button {
	width: 100%;
	margin-top: 5px !important;
	background-image: linear-gradient(
		to right,
		#00557ff4,
		#4a158fda
	) !important;
	color: #ffffff !important;
	border-radius: 20px !important;
}

.Challenge-status-message {
	overflow: auto;
}

.Challenge-status-bar {
	margin-top: 0px !important;
	margin-bottom: 8px !important;
}
