.Claim-main-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.Claim-header {
	padding-top: 5px;
}

.Claim-status-message {
	font-size: 16px !important;
	width: 80% !important;
	overflow: auto;
}

.Claim-no-challenges-message {
	background-color: #2e3440 !important;
	color: #ffffff !important;
	font-size: 16px !important;
	width: 80% !important;
	overflow: auto;
}

.Claim-not-connected-message {
	background-color: #2e3440 !important;
	color: #ffffff !important;
	font-size: 16px !important;
	width: 80% !important;
	overflow: auto;
}

.Claim-challenge-button {
	width: 330px;
	height: 40px;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
	background-image: linear-gradient(
		to right,
		#00557ff4,
		#4a158fda
	) !important;
	color: #ffffff !important;
	border-radius: 20px !important;
}

.Claim-status-bar {
	width: 80% !important;
	margin-top: 0px !important;
	margin-bottom: 8px !important;
}
