.Header-link {
	color: #ffffff !important;
	font-weight: bold !important;
}

.Header-menu {
	margin-top: 10px !important;
	height: 15px;
	border: 0px !important;
	box-shadow: none !important;
	background-color: transparent !important;
}

.Header-connection-div {
	display: flex;
}

.Header-account-hex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-right: 11px;
}

.Header-unsupported-network {
	color: #ff0000;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-right: 11px;
}

.Header-connection-icon {
	display: flex !important;
	align-items: center;
	justify-content: center;
	height: 100% !important;
	margin-left: 5px !important;
}

.Header-hamburger-button {
	display: flex !important;
	align-items: center;
	background-color: transparent !important;
	border: solid 2px #ffffff !important;
	border-radius: 5px !important;
	color: #ffffff !important;
}

.Header-hamburger-button:hover {
	background-color: #ffffff !important;
	color: #202125 !important;
}

.Header-dropdown-menu {
	background-color: #2e3440 !important;
}

.Header-dropdown-header {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff !important;
}

.Header-dropdown-item {
	display: flex !important;
	align-items: center;
	justify-content: center;
}
