.Home-main-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.Home-top-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.Home-button-Container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 110px;
	width: 100%;
}

.Home-top-buttons {
	width: 330px;
	height: 40px;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
	background-image: linear-gradient(
		to right,
		#00557ff4,
		#4a158fda
	) !important;
	color: #ffffff !important;
	border-radius: 20px !important;
}

.Home-top-paragraph-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	max-height: 230px;
	min-height: 185px;
	min-width: 300px;
	margin-top: 20px;
}

.Home-header {
	padding-top: 5px;
}

.Home-regular-text {
	align-self: flex-start;
	padding: 10px;
	width: 100%;
	font-size: 15px;
}
