.ChallengeCard-container {
	background-color: #3c414d;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	height: 200px;
	width: 550px;
	padding: 15px;
	border: 1px solid #3c414d;
	border-radius: 8px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.ChallengeCard-regular-text {
	color: #b8b8b8;
	align-self: flex-start;
	padding: 10px;
	width: 100%;
	font-size: 0.65em;
}

.ChallengeCard-complete-text {
	color: #09ba12;
	padding: 10px;
	width: 100%;
	font-size: 0.65em;
}

.ChallengeCard-incomplete-text {
	color: #d24320;
	padding: 10px;
	width: 100%;
	font-size: 0.65em;
}

.ChallengeCard-bold-text {
	color: #ffffff;
	margin-right: 15px;
}

.ChallengeCard-hstack {
	display: flex;
	align-items: center;
	justify-content: center;
}
