.Header-link {
	color: white;
	font-weight: bold;
}

.Header-menu {
	margin-top: 10px;
	height: 15px;
	border: 0px;
	box-shadow: none;
	background-color: transparent;
}

.Header-connection-div {
	display: flex;
}

.Header-account-hex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-right: 11px;
}

.Header-connection-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-left: 5px;
}
